@Html.Partial("header")

<h1>New Challenge</h1>
<p>Have an idea for a cool challenge? Submit your idea here and you might see it on the website!</p>

<form action="">
    <label for="">Challenge name: <input type="text"></label>
    <label for="">Description: <input type="text"></label>
    <input type="submit" value="">
</form>