</style>

    <script src="js/prefixfree.min.js"></script>

</head>

<body>

  <div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>Crumblr<span>.</span></div>
		</div>
		<br>
		<div class="login">
      <form class="" action="login" method="post">
				<input type="text" placeholder="email" name="email"><br>
				<input type="password" placeholder="password" name="password"><br>
				<input type="button" value="Login">
      </form>
        <br>Don't have an account? Register!
        <a href="/register"><input type="button" value="Register"></a>
		</div>

  <script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>

</body>

